services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  WorldDirect\Mailjet\:
    resource: "../Classes/*"

  # Make repository public for dependency injection
  WorldDirect\Mailjet\Domain\Repository\EmailLogRepository:
    public: true

  # Event Listeners
  WorldDirect\Mailjet\EventListener\EmailAttemptEventListener:
    tags:
      - name: event.listener
        identifier: "mailjet/email-attempt"
        event: TYPO3\CMS\Core\Mail\Event\BeforeMailerSentMessageEvent

  WorldDirect\Mailjet\EventListener\EmailSentEventListener:
    tags:
      - name: event.listener
        identifier: "mailjet/email-sent"
        event: TYPO3\CMS\Core\Mail\Event\AfterMailerSentMessageEvent
